--
-- PostgreSQL database dump
--

\restrict geMq93lMgYAzv5rCcgIn7taIO3b7gfEbBeWb6bvcAjBcPOv5NhC1lSTv7PLvgNp

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA auth;


ALTER SCHEMA auth OWNER TO postgres;

--
-- Name: app_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.app_role AS ENUM (
    'admin',
    'advertiser',
    'user',
    'super_admin'
);


ALTER TYPE public.app_role OWNER TO postgres;

--
-- Name: block_region; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.block_region AS ENUM (
    'borda',
    'intermediaria',
    'centro_premium'
);


ALTER TYPE public.block_region OWNER TO postgres;

--
-- Name: block_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.block_status AS ENUM (
    'free',
    'reserved',
    'occupied'
);


ALTER TYPE public.block_status OWNER TO postgres;

--
-- Name: crm_lead_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.crm_lead_status AS ENUM (
    'lead',
    'contato',
    'negociacao',
    'proposta',
    'cliente',
    'perdido'
);


ALTER TYPE public.crm_lead_status OWNER TO postgres;

--
-- Name: moderation_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.moderation_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.moderation_status OWNER TO postgres;

--
-- Name: mural_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.mural_type AS ENUM (
    'empresas',
    'influencers'
);


ALTER TYPE public.mural_type OWNER TO postgres;

--
-- Name: uid(); Type: FUNCTION; Schema: auth; Owner: postgres
--

CREATE FUNCTION auth.uid() RETURNS uuid
    LANGUAGE sql STABLE
    AS $$
  SELECT NULLIF(current_setting('app.current_user_id', true), '')::uuid;
$$;


ALTER FUNCTION auth.uid() OWNER TO postgres;

--
-- Name: accept_campaign_application(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.accept_campaign_application(application_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
  app record;
  camp record;
BEGIN
  SELECT ca.id, ca.campaign_id, ca.from_user_id, ca.status INTO app
  FROM public.campaign_applications ca WHERE ca.id = application_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Candidatura n├úo encontrada'); END IF;
  IF app.status != 'pending' THEN RETURN jsonb_build_object('ok', false, 'error', 'Candidatura j├í processada'); END IF;
  SELECT ac.id, ac.company_id, ac.title, ac.description, ac.budget_per_influencer, ac.slots_available
  INTO camp FROM public.active_campaigns ac WHERE ac.id = app.campaign_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Campanha n├úo encontrada'); END IF;
  IF camp.slots_available < 1 THEN RETURN jsonb_build_object('ok', false, 'error', 'Sem vagas'); END IF;
  IF (SELECT influencer_credits_balance FROM public.companies WHERE id = camp.company_id) < camp.budget_per_influencer THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Saldo insuficiente');
  END IF;
  UPDATE public.companies SET influencer_credits_balance = influencer_credits_balance - camp.budget_per_influencer WHERE id = camp.company_id;
  INSERT INTO public.direct_offers (company_id, to_user_id, amount, description, status)
  VALUES (camp.company_id, app.from_user_id, camp.budget_per_influencer,
          camp.title || ': ' || COALESCE(camp.description, ''), 'accepted');
  UPDATE public.campaign_applications SET status = 'accepted' WHERE id = application_id;
  UPDATE public.active_campaigns SET slots_available = slots_available - 1 WHERE id = camp.id;
  RETURN jsonb_build_object('ok', true);
END;
$$;


ALTER FUNCTION public.accept_campaign_application(application_id uuid) OWNER TO postgres;

--
-- Name: accept_direct_offer(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.accept_direct_offer(offer_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE rec record;
BEGIN
  SELECT id, company_id, to_user_id, amount, status INTO rec FROM public.direct_offers WHERE id = offer_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Oferta n├úo encontrada'); END IF;
  IF auth.uid() IS NULL OR auth.uid() != rec.to_user_id THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Apenas o influenciador pode aceitar.');
  END IF;
  IF rec.status != 'pending' THEN RETURN jsonb_build_object('ok', false, 'error', 'Oferta j├í processada'); END IF;
  IF (SELECT influencer_credits_balance FROM public.companies WHERE id = rec.company_id) < rec.amount THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Saldo insuficiente.');
  END IF;
  UPDATE public.companies SET influencer_credits_balance = influencer_credits_balance - rec.amount WHERE id = rec.company_id;
  UPDATE public.direct_offers SET status = 'accepted', updated_at = now() WHERE id = offer_id;
  RETURN jsonb_build_object('ok', true);
END;
$$;


ALTER FUNCTION public.accept_direct_offer(offer_id uuid) OWNER TO postgres;

--
-- Name: accept_partnership_proposal(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.accept_partnership_proposal(proposal_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
  rec record;
  new_balance numeric;
BEGIN
  SELECT id, to_company_id, amount, status INTO rec FROM public.partnership_proposals WHERE id = proposal_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Proposta n├úo encontrada'); END IF;
  IF rec.status NOT IN ('pending', 'counter_offer') THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Proposta j├í foi processada');
  END IF;
  SELECT c.influencer_credits_balance INTO new_balance FROM public.companies c WHERE c.id = rec.to_company_id;
  IF new_balance IS NULL OR new_balance < rec.amount THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Saldo insuficiente.');
  END IF;
  UPDATE public.companies SET influencer_credits_balance = influencer_credits_balance - rec.amount, updated_at = now() WHERE id = rec.to_company_id;
  UPDATE public.partnership_proposals SET status = 'accepted', updated_at = now() WHERE id = proposal_id;
  RETURN jsonb_build_object('ok', true);
END;
$$;


ALTER FUNCTION public.accept_partnership_proposal(proposal_id uuid) OWNER TO postgres;

--
-- Name: accept_position_bid(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.accept_position_bid(bid_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
  b record;
  buyer_balance numeric;
  seller_share numeric;
  platform_share numeric;
BEGIN
  SELECT id, from_company_id, to_brand_id, amount, status INTO b FROM public.position_bids WHERE id = bid_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Lance n├úo encontrado'); END IF;
  IF b.status != 'pending' THEN RETURN jsonb_build_object('ok', false, 'error', 'Lance j├í processado'); END IF;
  IF b.from_company_id = b.to_brand_id THEN RETURN jsonb_build_object('ok', false, 'error', 'N├úo pode dar lance na pr├│pria marca'); END IF;
  SELECT influencer_credits_balance INTO buyer_balance FROM public.companies WHERE id = b.from_company_id;
  IF buyer_balance IS NULL OR buyer_balance < b.amount THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Saldo insuficiente do comprador');
  END IF;
  seller_share := round(b.amount * 0.70, 2);
  platform_share := b.amount - seller_share;
  UPDATE public.companies SET influencer_credits_balance = influencer_credits_balance - b.amount WHERE id = b.from_company_id;
  UPDATE public.companies SET influencer_credits_balance = influencer_credits_balance + seller_share WHERE id = b.to_brand_id;
  INSERT INTO public.system_profit (amount, source, reference_id) VALUES (platform_share, 'position_bid', bid_id);
  UPDATE public.blocks SET company_id = b.from_company_id WHERE company_id = b.to_brand_id;
  UPDATE public.position_bids SET status = 'accepted' WHERE id = bid_id;
  RETURN jsonb_build_object('ok', true, 'seller_share', seller_share, 'platform_share', platform_share);
END;
$$;


ALTER FUNCTION public.accept_position_bid(bid_id uuid) OWNER TO postgres;

--
-- Name: get_influencer_ranking(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_influencer_ranking(limit_count integer DEFAULT 10) RETURNS TABLE(user_id uuid, display_name text, total_generated numeric)
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
BEGIN
  RETURN QUERY
  SELECT
    pr.user_id,
    COALESCE(p.display_name, 'Influencer')::text AS display_name,
    COALESCE(SUM(pr.amount_influencer), 0)::numeric AS total_generated
  FROM public.platform_revenue pr
  LEFT JOIN public.profiles p ON p.user_id = pr.user_id OR p.id = pr.user_id
  WHERE pr.user_id IS NOT NULL
  GROUP BY pr.user_id, p.display_name
  ORDER BY total_generated DESC
  LIMIT limit_count;
END;
$$;


ALTER FUNCTION public.get_influencer_ranking(limit_count integer) OWNER TO postgres;

--
-- Name: has_role(uuid, public.app_role); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.has_role(_user_id uuid, _role public.app_role) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
  SELECT EXISTS (SELECT 1 FROM public.user_roles WHERE user_id = _user_id AND role = _role);
$$;


ALTER FUNCTION public.has_role(_user_id uuid, _role public.app_role) OWNER TO postgres;

--
-- Name: is_company_owner(uuid, uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_company_owner(_user_id uuid, _company_id uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
  SELECT EXISTS (SELECT 1 FROM public.companies WHERE id = _company_id AND owner_id = _user_id);
$$;


ALTER FUNCTION public.is_company_owner(_user_id uuid, _company_id uuid) OWNER TO postgres;

--
-- Name: is_conversation_participant(uuid, uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_conversation_participant(_user_id uuid, _conversation_id uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.conversations c
    WHERE c.id = _conversation_id
    AND (
      EXISTS (SELECT 1 FROM public.companies WHERE id = c.company_id AND owner_id = _user_id)
      OR EXISTS (SELECT 1 FROM public.influencers WHERE id = c.influencer_id AND owner_id = _user_id)
      OR public.has_role(_user_id, 'admin'::public.app_role)
    )
  );
$$;


ALTER FUNCTION public.is_conversation_participant(_user_id uuid, _conversation_id uuid) OWNER TO postgres;

--
-- Name: on_interaction_record_revenue(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.on_interaction_record_revenue() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
  valor_clique numeric := 0.5;
  parte_influencer numeric := valor_clique * 0.7;
  parte_plataforma numeric := valor_clique * 0.3;
BEGIN
  INSERT INTO public.platform_revenue (company_id, user_id, interaction_id, amount_platform, amount_influencer)
  VALUES (NEW.company_id, NEW.user_id, NEW.id, parte_plataforma, parte_influencer);
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.on_interaction_record_revenue() OWNER TO postgres;

--
-- Name: profiles_set_user_id(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.profiles_set_user_id() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.user_id := COALESCE(NEW.user_id, NEW.id);
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.profiles_set_user_id() OWNER TO postgres;

--
-- Name: release_direct_offer(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.release_direct_offer(offer_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
  rec record;
  platform_fee_pct numeric := 0.10;
  platform_cut numeric;
  influencer_amount numeric;
BEGIN
  SELECT id, company_id, to_user_id, amount, status INTO rec FROM public.direct_offers WHERE id = offer_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Oferta n├úo encontrada'); END IF;
  IF NOT public.is_company_owner(auth.uid(), rec.company_id) THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Apenas a empresa pode confirmar a entrega.');
  END IF;
  IF rec.status != 'under_review' THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Entrega ainda n├úo enviada ou j├í liberada.');
  END IF;
  platform_cut := round(rec.amount * platform_fee_pct, 2);
  influencer_amount := rec.amount - platform_cut;
  UPDATE public.profiles
  SET withdrawable_balance = withdrawable_balance + influencer_amount,
      reputation_score = COALESCE(reputation_score, 0) + 1
  WHERE id = rec.to_user_id OR user_id = rec.to_user_id;
  INSERT INTO public.system_profit (amount, source, reference_id) VALUES (platform_cut, 'direct_offer_release', offer_id);
  UPDATE public.direct_offers SET status = 'paid', updated_at = now() WHERE id = offer_id;
  RETURN jsonb_build_object('ok', true, 'influencer_amount', influencer_amount, 'platform_cut', platform_cut);
END;
$$;


ALTER FUNCTION public.release_direct_offer(offer_id uuid) OWNER TO postgres;

--
-- Name: release_proposal_payment(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.release_proposal_payment(proposal_id uuid) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
  rec record;
  platform_fee_pct numeric := 0.15;
  platform_cut numeric;
  influencer_amount numeric;
BEGIN
  SELECT id, from_user_id, amount, status INTO rec FROM public.partnership_proposals WHERE id = proposal_id;
  IF NOT FOUND THEN RETURN jsonb_build_object('ok', false, 'error', 'Proposta n├úo encontrada'); END IF;
  IF rec.status != 'under_review' THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Entrega ainda n├úo enviada ou j├í liberada.');
  END IF;
  platform_cut := round(rec.amount * platform_fee_pct, 2);
  influencer_amount := rec.amount - platform_cut;
  UPDATE public.profiles
  SET withdrawable_balance = withdrawable_balance + influencer_amount,
      reputation_score = COALESCE(reputation_score, 0) + 1
  WHERE id = rec.from_user_id OR user_id = rec.from_user_id;
  INSERT INTO public.system_profit (amount, source, reference_id) VALUES (platform_cut, 'proposal_release', proposal_id);
  UPDATE public.partnership_proposals SET status = 'paid', updated_at = now() WHERE id = proposal_id;
  RETURN jsonb_build_object('ok', true, 'influencer_amount', influencer_amount, 'platform_cut', platform_cut);
END;
$$;


ALTER FUNCTION public.release_proposal_payment(proposal_id uuid) OWNER TO postgres;

--
-- Name: request_withdrawal(numeric, text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.request_withdrawal(amount_to_withdraw numeric, pix_key text DEFAULT NULL::text, pix_key_type text DEFAULT 'cpf'::text) RETURNS jsonb
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $_$
DECLARE
  current_balance numeric;
BEGIN
  IF amount_to_withdraw IS NULL OR amount_to_withdraw < 10 THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Valor m├¡nimo para saque: R$ 10,00.');
  END IF;
  SELECT withdrawable_balance INTO current_balance FROM public.profiles WHERE id = auth.uid() OR user_id = auth.uid();
  IF current_balance IS NULL OR current_balance < amount_to_withdraw THEN
    RETURN jsonb_build_object('ok', false, 'error', 'Saldo insuficiente.');
  END IF;
  UPDATE public.profiles SET withdrawable_balance = withdrawable_balance - amount_to_withdraw
  WHERE id = auth.uid() OR user_id = auth.uid();
  INSERT INTO public.withdrawal_requests (user_id, amount, pix_key, pix_key_type, status)
  VALUES (auth.uid(), amount_to_withdraw, pix_key, pix_key_type, 'pending');
  RETURN jsonb_build_object('ok', true);
END;
$_$;


ALTER FUNCTION public.request_withdrawal(amount_to_withdraw numeric, pix_key text, pix_key_type text) OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    SET search_path TO 'public'
    AS $$
BEGIN
  NEW.updated_at := now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: active_campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.active_campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    budget_per_influencer numeric NOT NULL,
    slots_available integer DEFAULT 1 NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    owner_id uuid,
    amount numeric,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT active_campaigns_budget_per_influencer_check CHECK ((budget_per_influencer >= (0)::numeric)),
    CONSTRAINT active_campaigns_slots_available_check CHECK ((slots_available > 0)),
    CONSTRAINT active_campaigns_status_check CHECK ((status = ANY (ARRAY['active'::text, 'draft'::text, 'trashed'::text])))
);


ALTER TABLE public.active_campaigns OWNER TO postgres;

--
-- Name: admin_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_settings (
    key text NOT NULL,
    value text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.admin_settings OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    email text NOT NULL,
    role text DEFAULT 'admin'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT admins_role_check CHECK ((role = ANY (ARRAY['admin'::text, 'super_admin'::text])))
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: ai_matchmaking_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_matchmaking_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid,
    suggested_influencers_ids jsonb DEFAULT '[]'::jsonb NOT NULL,
    suggested_company_ids jsonb DEFAULT '[]'::jsonb NOT NULL,
    fit_score numeric(5,2),
    rationale text,
    search_query text,
    source text DEFAULT 'admin_lab'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ai_matchmaking_history_source_check CHECK ((source = ANY (ARRAY['admin_lab'::text, 'mural_chat'::text])))
);


ALTER TABLE public.ai_matchmaking_history OWNER TO postgres;

--
-- Name: ai_recommendations_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_recommendations_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source text NOT NULL,
    search_query text,
    company_id uuid,
    company_name text,
    suggested_influencer_ids jsonb DEFAULT '[]'::jsonb NOT NULL,
    suggested_company_ids jsonb DEFAULT '[]'::jsonb NOT NULL,
    rationale text,
    sales_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ai_recommendations_logs_source_check CHECK ((source = ANY (ARRAY['ai_search'::text, 'recommend_partner'::text])))
);


ALTER TABLE public.ai_recommendations_logs OWNER TO postgres;

--
-- Name: blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blocks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    x integer NOT NULL,
    y integer NOT NULL,
    company_id uuid,
    region public.block_region DEFAULT 'borda'::public.block_region NOT NULL,
    status public.block_status DEFAULT 'free'::public.block_status NOT NULL,
    reserved_until timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.blocks OWNER TO postgres;

--
-- Name: campaign_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaign_applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid NOT NULL,
    from_user_id uuid NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT campaign_applications_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'accepted'::text, 'rejected'::text])))
);


ALTER TABLE public.campaign_applications OWNER TO postgres;

--
-- Name: campaign_influencers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaign_influencers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    campaign_id uuid NOT NULL,
    influencer_id uuid NOT NULL,
    added_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.campaign_influencers OWNER TO postgres;

--
-- Name: campaign_proposals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaign_proposals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    from_user_id uuid NOT NULL,
    note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.campaign_proposals OWNER TO postgres;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    owner_id uuid NOT NULL,
    amount numeric NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    title text,
    description text,
    campaign_link text,
    is_public boolean DEFAULT true NOT NULL,
    attachment_urls jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT campaigns_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT campaigns_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'collecting_interest'::text, 'funded'::text, 'active'::text, 'completed'::text, 'cancelled'::text])))
);


ALTER TABLE public.campaigns OWNER TO postgres;

--
-- Name: checkout_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checkout_orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    company_id uuid NOT NULL,
    payload jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.checkout_orders OWNER TO postgres;

--
-- Name: clicks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clicks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    block_x integer,
    block_y integer,
    source text DEFAULT 'mural'::text NOT NULL,
    anonymized_ip text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.clicks OWNER TO postgres;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    name text NOT NULL,
    website text DEFAULT ''::text NOT NULL,
    category text DEFAULT ''::text NOT NULL,
    description text,
    logo_url text,
    logo_initials text DEFAULT 'XX'::text NOT NULL,
    color text DEFAULT '#00d4ff'::text NOT NULL,
    expires_at timestamp with time zone,
    contact_whatsapp text,
    contact_email text,
    mural_type public.mural_type DEFAULT 'empresas'::public.mural_type NOT NULL,
    moderation_status public.moderation_status DEFAULT 'approved'::public.moderation_status NOT NULL,
    moderation_notes text,
    instagram text,
    tiktok text,
    youtube text,
    product_service text,
    target_audience text,
    avg_budget text,
    region text,
    country text,
    is_perpetual boolean DEFAULT false NOT NULL,
    influencer_credits_balance numeric DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: contact_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_user_id uuid NOT NULL,
    to_company_id uuid,
    to_influencer_id uuid,
    contact_type text DEFAULT 'whatsapp'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT contact_events_contact_type_check CHECK ((contact_type = ANY (ARRAY['whatsapp'::text, 'email'::text, 'instagram'::text, 'tiktok'::text, 'website'::text])))
);


ALTER TABLE public.contact_events OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    influencer_id uuid,
    initiated_by uuid NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    last_message_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT conversations_status_check CHECK ((status = ANY (ARRAY['active'::text, 'archived'::text, 'blocked'::text])))
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: crm_interactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.crm_interactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    lead_id uuid NOT NULL,
    interaction_type text DEFAULT 'note'::text NOT NULL,
    description text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.crm_interactions OWNER TO postgres;

--
-- Name: crm_leads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.crm_leads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_name text NOT NULL,
    contact_name text,
    email text,
    phone text,
    whatsapp text,
    website text,
    address text,
    city text,
    state text,
    zip_code text,
    country text DEFAULT 'BR'::text,
    cnpj text,
    business_sector text,
    company_size text,
    estimated_revenue text,
    employee_count integer,
    lead_source text,
    status public.crm_lead_status DEFAULT 'lead'::public.crm_lead_status NOT NULL,
    notes text,
    tags text[],
    linked_company_id uuid,
    created_by uuid NOT NULL,
    assigned_to uuid,
    last_interaction_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.crm_leads OWNER TO postgres;

--
-- Name: direct_offers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.direct_offers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    to_user_id uuid NOT NULL,
    amount numeric NOT NULL,
    description text,
    status text DEFAULT 'pending'::text NOT NULL,
    delivery_link text,
    read_at timestamp with time zone,
    archived_at timestamp with time zone,
    campaign_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT direct_offers_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT direct_offers_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'accepted'::text, 'under_review'::text, 'paid'::text, 'cancelled'::text])))
);


ALTER TABLE public.direct_offers OWNER TO postgres;

--
-- Name: favorite_influencers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favorite_influencers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    influencer_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.favorite_influencers OWNER TO postgres;

--
-- Name: influencers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.influencers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    name text NOT NULL,
    photo_url text,
    category text DEFAULT ''::text NOT NULL,
    niche text,
    bio text,
    followers_count integer DEFAULT 0,
    avg_engagement numeric(5,2) DEFAULT 0,
    portfolio_url text,
    instagram text,
    tiktok text,
    youtube text,
    twitter text,
    contact_email text,
    contact_whatsapp text,
    website text,
    region text,
    color text DEFAULT '#8b5cf6'::text NOT NULL,
    logo_initials text DEFAULT 'XX'::text NOT NULL,
    mural_type public.mural_type DEFAULT 'influencers'::public.mural_type NOT NULL,
    moderation_status public.moderation_status DEFAULT 'approved'::public.moderation_status NOT NULL,
    moderation_notes text,
    public_username text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.influencers OWNER TO postgres;

--
-- Name: interactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    block_x integer,
    block_y integer,
    source text DEFAULT 'mural'::text NOT NULL,
    user_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.interactions OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    conversation_id uuid NOT NULL,
    sender_id uuid NOT NULL,
    content text NOT NULL,
    read_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: mural_inventory; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.mural_inventory AS
 SELECT blocks.x,
    blocks.y,
    blocks.company_id
   FROM public.blocks
  WHERE (blocks.status = 'occupied'::public.block_status);


ALTER TABLE public.mural_inventory OWNER TO postgres;

--
-- Name: partnership_proposals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.partnership_proposals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_user_id uuid NOT NULL,
    influencer_id uuid,
    to_company_id uuid NOT NULL,
    amount numeric NOT NULL,
    description text,
    delivery_link text,
    suggested_amount numeric,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT partnership_proposals_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT partnership_proposals_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'counter_offer'::text, 'accepted'::text, 'under_review'::text, 'paid'::text, 'cancelled'::text])))
);


ALTER TABLE public.partnership_proposals OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid NOT NULL,
    amount integer NOT NULL,
    blocks_count integer NOT NULL,
    region public.block_region NOT NULL,
    stripe_session_id text,
    stripe_payment_intent_id text,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT payments_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'completed'::text, 'failed'::text, 'cancelled'::text, 'refunded'::text])))
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: platform_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platform_finances (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transaction_type text NOT NULL,
    amount numeric NOT NULL,
    fee_collected numeric DEFAULT 0 NOT NULL,
    status text DEFAULT 'completed'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT platform_finances_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'completed'::text, 'cancelled'::text, 'refunded'::text])))
);


ALTER TABLE public.platform_finances OWNER TO postgres;

--
-- Name: platform_revenue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platform_revenue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    user_id uuid,
    interaction_id uuid,
    amount_platform numeric DEFAULT 0 NOT NULL,
    amount_influencer numeric DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.platform_revenue OWNER TO postgres;

--
-- Name: position_bids; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.position_bids (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_company_id uuid NOT NULL,
    to_brand_id uuid NOT NULL,
    amount numeric NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT position_bids_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT position_bids_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'accepted'::text, 'rejected'::text])))
);


ALTER TABLE public.position_bids OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    email text,
    password_hash text,
    display_name text,
    avatar_url text,
    profile_type text,
    is_approved boolean DEFAULT true NOT NULL,
    waitlist_position integer,
    withdrawable_balance numeric DEFAULT 0 NOT NULL,
    reputation_score integer DEFAULT 0 NOT NULL,
    account_status text DEFAULT 'active'::text NOT NULL,
    email_notify_bids boolean DEFAULT true NOT NULL,
    last_login_at timestamp with time zone,
    referral_code text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT profiles_account_status_check CHECK ((account_status = ANY (ARRAY['active'::text, 'excluded'::text, 'banned'::text, 'expired'::text])))
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: system_health_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_health_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    service_name text DEFAULT 'api'::text NOT NULL,
    status text NOT NULL,
    latency integer,
    error_message text,
    page_path text,
    user_id uuid,
    user_email text,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT system_health_logs_status_check CHECK ((status = ANY (ARRAY['ok'::text, 'degraded'::text, 'error'::text])))
);


ALTER TABLE public.system_health_logs OWNER TO postgres;

--
-- Name: system_profit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_profit (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    amount numeric NOT NULL,
    source text DEFAULT 'proposal_release'::text NOT NULL,
    reference_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT system_profit_amount_check CHECK ((amount >= (0)::numeric))
);


ALTER TABLE public.system_profit OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    role public.app_role NOT NULL
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: withdrawal_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.withdrawal_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    amount numeric NOT NULL,
    pix_key text,
    pix_key_type text,
    status text DEFAULT 'pending'::text NOT NULL,
    denial_reason text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT withdrawal_requests_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT withdrawal_requests_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'processing'::text, 'completed'::text, 'cancelled'::text])))
);


ALTER TABLE public.withdrawal_requests OWNER TO postgres;

--
-- Data for Name: active_campaigns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.active_campaigns (id, company_id, title, description, budget_per_influencer, slots_available, status, owner_id, amount, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: admin_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_settings (key, value) FROM stdin;
maintenance_mode	false
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (id, user_id, email, role, created_at) FROM stdin;
\.


--
-- Data for Name: ai_matchmaking_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_matchmaking_history (id, campaign_id, suggested_influencers_ids, suggested_company_ids, fit_score, rationale, search_query, source, created_at) FROM stdin;
\.


--
-- Data for Name: ai_recommendations_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_recommendations_logs (id, source, search_query, company_id, company_name, suggested_influencer_ids, suggested_company_ids, rationale, sales_message, created_at) FROM stdin;
\.


--
-- Data for Name: blocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.blocks (id, x, y, company_id, region, status, reserved_until, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: campaign_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaign_applications (id, campaign_id, from_user_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: campaign_influencers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaign_influencers (id, campaign_id, influencer_id, added_at) FROM stdin;
\.


--
-- Data for Name: campaign_proposals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaign_proposals (id, company_id, from_user_id, note, created_at) FROM stdin;
\.


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaigns (id, company_id, owner_id, amount, status, title, description, campaign_link, is_public, attachment_urls, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: checkout_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.checkout_orders (id, owner_id, company_id, payload, status, created_at) FROM stdin;
\.


--
-- Data for Name: clicks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clicks (id, company_id, block_x, block_y, source, anonymized_ip, created_at) FROM stdin;
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, owner_id, name, website, category, description, logo_url, logo_initials, color, expires_at, contact_whatsapp, contact_email, mural_type, moderation_status, moderation_notes, instagram, tiktok, youtube, product_service, target_audience, avg_budget, region, country, is_perpetual, influencer_credits_balance, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: contact_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contact_events (id, from_user_id, to_company_id, to_influencer_id, contact_type, created_at) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, company_id, influencer_id, initiated_by, status, last_message_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: crm_interactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.crm_interactions (id, lead_id, interaction_type, description, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: crm_leads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.crm_leads (id, company_name, contact_name, email, phone, whatsapp, website, address, city, state, zip_code, country, cnpj, business_sector, company_size, estimated_revenue, employee_count, lead_source, status, notes, tags, linked_company_id, created_by, assigned_to, last_interaction_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: direct_offers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.direct_offers (id, company_id, to_user_id, amount, description, status, delivery_link, read_at, archived_at, campaign_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: favorite_influencers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favorite_influencers (id, company_id, influencer_id, created_at) FROM stdin;
\.


--
-- Data for Name: influencers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.influencers (id, owner_id, name, photo_url, category, niche, bio, followers_count, avg_engagement, portfolio_url, instagram, tiktok, youtube, twitter, contact_email, contact_whatsapp, website, region, color, logo_initials, mural_type, moderation_status, moderation_notes, public_username, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: interactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interactions (id, company_id, block_x, block_y, source, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (id, conversation_id, sender_id, content, read_at, created_at) FROM stdin;
\.


--
-- Data for Name: partnership_proposals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.partnership_proposals (id, from_user_id, influencer_id, to_company_id, amount, description, delivery_link, suggested_amount, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments (id, company_id, amount, blocks_count, region, stripe_session_id, stripe_payment_intent_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: platform_finances; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.platform_finances (id, transaction_type, amount, fee_collected, status, created_at) FROM stdin;
\.


--
-- Data for Name: platform_revenue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.platform_revenue (id, company_id, user_id, interaction_id, amount_platform, amount_influencer, created_at) FROM stdin;
\.


--
-- Data for Name: position_bids; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.position_bids (id, from_company_id, to_brand_id, amount, status, created_at) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profiles (id, user_id, email, password_hash, display_name, avatar_url, profile_type, is_approved, waitlist_position, withdrawable_balance, reputation_score, account_status, email_notify_bids, last_login_at, referral_code, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: system_health_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_health_logs (id, service_name, status, latency, error_message, page_path, user_id, user_email, "timestamp") FROM stdin;
\.


--
-- Data for Name: system_profit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_profit (id, amount, source, reference_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (id, user_id, role) FROM stdin;
\.


--
-- Data for Name: withdrawal_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.withdrawal_requests (id, user_id, amount, pix_key, pix_key_type, status, denial_reason, created_at) FROM stdin;
\.


--
-- Name: active_campaigns active_campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_campaigns
    ADD CONSTRAINT active_campaigns_pkey PRIMARY KEY (id);


--
-- Name: admin_settings admin_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_settings
    ADD CONSTRAINT admin_settings_pkey PRIMARY KEY (key);


--
-- Name: admins admins_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_key UNIQUE (email);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: ai_matchmaking_history ai_matchmaking_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_matchmaking_history
    ADD CONSTRAINT ai_matchmaking_history_pkey PRIMARY KEY (id);


--
-- Name: ai_recommendations_logs ai_recommendations_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_recommendations_logs
    ADD CONSTRAINT ai_recommendations_logs_pkey PRIMARY KEY (id);


--
-- Name: blocks blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_pkey PRIMARY KEY (id);


--
-- Name: blocks blocks_x_y_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_x_y_key UNIQUE (x, y);


--
-- Name: campaign_applications campaign_applications_campaign_id_from_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT campaign_applications_campaign_id_from_user_id_key UNIQUE (campaign_id, from_user_id);


--
-- Name: campaign_applications campaign_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT campaign_applications_pkey PRIMARY KEY (id);


--
-- Name: campaign_influencers campaign_influencers_campaign_id_influencer_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_influencers
    ADD CONSTRAINT campaign_influencers_campaign_id_influencer_id_key UNIQUE (campaign_id, influencer_id);


--
-- Name: campaign_influencers campaign_influencers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_influencers
    ADD CONSTRAINT campaign_influencers_pkey PRIMARY KEY (id);


--
-- Name: campaign_proposals campaign_proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_proposals
    ADD CONSTRAINT campaign_proposals_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: checkout_orders checkout_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkout_orders
    ADD CONSTRAINT checkout_orders_pkey PRIMARY KEY (id);


--
-- Name: clicks clicks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clicks
    ADD CONSTRAINT clicks_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: contact_events contact_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_events
    ADD CONSTRAINT contact_events_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_company_id_influencer_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_company_id_influencer_id_key UNIQUE (company_id, influencer_id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: crm_interactions crm_interactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crm_interactions
    ADD CONSTRAINT crm_interactions_pkey PRIMARY KEY (id);


--
-- Name: crm_leads crm_leads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crm_leads
    ADD CONSTRAINT crm_leads_pkey PRIMARY KEY (id);


--
-- Name: direct_offers direct_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direct_offers
    ADD CONSTRAINT direct_offers_pkey PRIMARY KEY (id);


--
-- Name: favorite_influencers favorite_influencers_company_id_influencer_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorite_influencers
    ADD CONSTRAINT favorite_influencers_company_id_influencer_id_key UNIQUE (company_id, influencer_id);


--
-- Name: favorite_influencers favorite_influencers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorite_influencers
    ADD CONSTRAINT favorite_influencers_pkey PRIMARY KEY (id);


--
-- Name: influencers influencers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.influencers
    ADD CONSTRAINT influencers_pkey PRIMARY KEY (id);


--
-- Name: interactions interactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: partnership_proposals partnership_proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partnership_proposals
    ADD CONSTRAINT partnership_proposals_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: platform_finances platform_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_finances
    ADD CONSTRAINT platform_finances_pkey PRIMARY KEY (id);


--
-- Name: platform_revenue platform_revenue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_revenue
    ADD CONSTRAINT platform_revenue_pkey PRIMARY KEY (id);


--
-- Name: position_bids position_bids_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.position_bids
    ADD CONSTRAINT position_bids_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_referral_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_referral_code_key UNIQUE (referral_code);


--
-- Name: profiles profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_key UNIQUE (user_id);


--
-- Name: system_health_logs system_health_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_health_logs
    ADD CONSTRAINT system_health_logs_pkey PRIMARY KEY (id);


--
-- Name: system_profit system_profit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_profit
    ADD CONSTRAINT system_profit_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_user_id_role_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_role_key UNIQUE (user_id, role);


--
-- Name: withdrawal_requests withdrawal_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.withdrawal_requests
    ADD CONSTRAINT withdrawal_requests_pkey PRIMARY KEY (id);


--
-- Name: idx_active_campaigns_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_active_campaigns_company ON public.active_campaigns USING btree (company_id);


--
-- Name: idx_admins_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admins_email ON public.admins USING btree (lower(TRIM(BOTH FROM email)));


--
-- Name: idx_ai_matchmaking_history_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_matchmaking_history_created ON public.ai_matchmaking_history USING btree (created_at);


--
-- Name: idx_ai_matchmaking_history_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_matchmaking_history_source ON public.ai_matchmaking_history USING btree (source);


--
-- Name: idx_ai_recommendations_logs_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_recommendations_logs_created ON public.ai_recommendations_logs USING btree (created_at);


--
-- Name: idx_ai_recommendations_logs_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_recommendations_logs_source ON public.ai_recommendations_logs USING btree (source);


--
-- Name: idx_blocks_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_company ON public.blocks USING btree (company_id);


--
-- Name: idx_blocks_company_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_company_status ON public.blocks USING btree (company_id, status);


--
-- Name: idx_blocks_region_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_region_status ON public.blocks USING btree (region, status);


--
-- Name: idx_blocks_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_status ON public.blocks USING btree (status);


--
-- Name: idx_blocks_xy; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blocks_xy ON public.blocks USING btree (x, y);


--
-- Name: idx_campaign_applications_campaign; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaign_applications_campaign ON public.campaign_applications USING btree (campaign_id);


--
-- Name: idx_campaign_applications_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaign_applications_user ON public.campaign_applications USING btree (from_user_id);


--
-- Name: idx_campaign_influencers_campaign; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaign_influencers_campaign ON public.campaign_influencers USING btree (campaign_id);


--
-- Name: idx_campaign_influencers_influencer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaign_influencers_influencer ON public.campaign_influencers USING btree (influencer_id);


--
-- Name: idx_campaign_proposals_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaign_proposals_company ON public.campaign_proposals USING btree (company_id);


--
-- Name: idx_campaigns_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_company ON public.campaigns USING btree (company_id);


--
-- Name: idx_campaigns_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_owner ON public.campaigns USING btree (owner_id);


--
-- Name: idx_campaigns_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_status ON public.campaigns USING btree (status);


--
-- Name: idx_checkout_orders_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_checkout_orders_company ON public.checkout_orders USING btree (company_id);


--
-- Name: idx_checkout_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_checkout_orders_status ON public.checkout_orders USING btree (status);


--
-- Name: idx_clicks_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clicks_company ON public.clicks USING btree (company_id);


--
-- Name: idx_clicks_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clicks_created ON public.clicks USING btree (created_at);


--
-- Name: idx_companies_country; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_country ON public.companies USING btree (country);


--
-- Name: idx_companies_moderation_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_moderation_status ON public.companies USING btree (moderation_status);


--
-- Name: idx_companies_mural_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_mural_type ON public.companies USING btree (mural_type);


--
-- Name: idx_companies_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_owner ON public.companies USING btree (owner_id);


--
-- Name: idx_crm_interactions_lead; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_crm_interactions_lead ON public.crm_interactions USING btree (lead_id);


--
-- Name: idx_crm_leads_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_crm_leads_status ON public.crm_leads USING btree (status);


--
-- Name: idx_direct_offers_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_direct_offers_company ON public.direct_offers USING btree (company_id);


--
-- Name: idx_direct_offers_to_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_direct_offers_to_user ON public.direct_offers USING btree (to_user_id);


--
-- Name: idx_favorite_influencers_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_favorite_influencers_company ON public.favorite_influencers USING btree (company_id);


--
-- Name: idx_influencers_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_influencers_owner ON public.influencers USING btree (owner_id);


--
-- Name: idx_influencers_public_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_influencers_public_username ON public.influencers USING btree (public_username) WHERE (public_username IS NOT NULL);


--
-- Name: idx_interactions_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interactions_company ON public.interactions USING btree (company_id);


--
-- Name: idx_interactions_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interactions_created ON public.interactions USING btree (created_at);


--
-- Name: idx_partnership_proposals_from; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_partnership_proposals_from ON public.partnership_proposals USING btree (from_user_id);


--
-- Name: idx_partnership_proposals_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_partnership_proposals_status ON public.partnership_proposals USING btree (status);


--
-- Name: idx_partnership_proposals_to_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_partnership_proposals_to_company ON public.partnership_proposals USING btree (to_company_id);


--
-- Name: idx_platform_finances_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_platform_finances_created ON public.platform_finances USING btree (created_at);


--
-- Name: idx_platform_finances_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_platform_finances_status ON public.platform_finances USING btree (status);


--
-- Name: idx_platform_revenue_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_platform_revenue_company ON public.platform_revenue USING btree (company_id);


--
-- Name: idx_platform_revenue_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_platform_revenue_created ON public.platform_revenue USING btree (created_at);


--
-- Name: idx_platform_revenue_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_platform_revenue_user ON public.platform_revenue USING btree (user_id);


--
-- Name: idx_position_bids_from_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_position_bids_from_company ON public.position_bids USING btree (from_company_id);


--
-- Name: idx_position_bids_to_brand; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_position_bids_to_brand ON public.position_bids USING btree (to_brand_id);


--
-- Name: idx_profiles_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_profiles_email ON public.profiles USING btree (email) WHERE (email IS NOT NULL);


--
-- Name: idx_profiles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_user_id ON public.profiles USING btree (user_id);


--
-- Name: idx_system_health_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_health_logs_timestamp ON public.system_health_logs USING btree ("timestamp");


--
-- Name: idx_system_profit_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_profit_created ON public.system_profit USING btree (created_at);


--
-- Name: idx_user_roles_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_roles_user ON public.user_roles USING btree (user_id);


--
-- Name: idx_withdrawal_requests_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_withdrawal_requests_user ON public.withdrawal_requests USING btree (user_id);


--
-- Name: profiles profiles_set_user_id_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER profiles_set_user_id_trigger BEFORE INSERT ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.profiles_set_user_id();


--
-- Name: interactions trigger_interaction_revenue; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_interaction_revenue AFTER INSERT ON public.interactions FOR EACH ROW EXECUTE FUNCTION public.on_interaction_record_revenue();


--
-- Name: blocks update_blocks_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_blocks_updated_at BEFORE UPDATE ON public.blocks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: campaigns update_campaigns_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_campaigns_updated_at BEFORE UPDATE ON public.campaigns FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: companies update_companies_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_companies_updated_at BEFORE UPDATE ON public.companies FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: conversations update_conversations_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_conversations_updated_at BEFORE UPDATE ON public.conversations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: crm_leads update_crm_leads_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_crm_leads_updated_at BEFORE UPDATE ON public.crm_leads FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: influencers update_influencers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_influencers_updated_at BEFORE UPDATE ON public.influencers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: profiles update_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_profiles_updated_at BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: active_campaigns active_campaigns_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_campaigns
    ADD CONSTRAINT active_campaigns_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: admins admins_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: ai_matchmaking_history ai_matchmaking_history_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_matchmaking_history
    ADD CONSTRAINT ai_matchmaking_history_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.active_campaigns(id) ON DELETE SET NULL;


--
-- Name: ai_recommendations_logs ai_recommendations_logs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_recommendations_logs
    ADD CONSTRAINT ai_recommendations_logs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: blocks blocks_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: campaign_applications campaign_applications_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT campaign_applications_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.active_campaigns(id) ON DELETE CASCADE;


--
-- Name: campaign_applications campaign_applications_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT campaign_applications_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: campaign_influencers campaign_influencers_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_influencers
    ADD CONSTRAINT campaign_influencers_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;


--
-- Name: campaign_influencers campaign_influencers_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_influencers
    ADD CONSTRAINT campaign_influencers_influencer_id_fkey FOREIGN KEY (influencer_id) REFERENCES public.influencers(id) ON DELETE CASCADE;


--
-- Name: campaign_proposals campaign_proposals_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_proposals
    ADD CONSTRAINT campaign_proposals_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: campaign_proposals campaign_proposals_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_proposals
    ADD CONSTRAINT campaign_proposals_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: campaigns campaigns_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: campaigns campaigns_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: checkout_orders checkout_orders_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checkout_orders
    ADD CONSTRAINT checkout_orders_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: clicks clicks_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clicks
    ADD CONSTRAINT clicks_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: companies companies_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: contact_events contact_events_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_events
    ADD CONSTRAINT contact_events_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: contact_events contact_events_to_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_events
    ADD CONSTRAINT contact_events_to_company_id_fkey FOREIGN KEY (to_company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: contact_events contact_events_to_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_events
    ADD CONSTRAINT contact_events_to_influencer_id_fkey FOREIGN KEY (to_influencer_id) REFERENCES public.influencers(id) ON DELETE SET NULL;


--
-- Name: conversations conversations_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: conversations conversations_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_influencer_id_fkey FOREIGN KEY (influencer_id) REFERENCES public.influencers(id) ON DELETE CASCADE;


--
-- Name: conversations conversations_initiated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_initiated_by_fkey FOREIGN KEY (initiated_by) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: crm_interactions crm_interactions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crm_interactions
    ADD CONSTRAINT crm_interactions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: crm_interactions crm_interactions_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crm_interactions
    ADD CONSTRAINT crm_interactions_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.crm_leads(id) ON DELETE CASCADE;


--
-- Name: crm_leads crm_leads_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crm_leads
    ADD CONSTRAINT crm_leads_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: crm_leads crm_leads_linked_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crm_leads
    ADD CONSTRAINT crm_leads_linked_company_id_fkey FOREIGN KEY (linked_company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: direct_offers direct_offers_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direct_offers
    ADD CONSTRAINT direct_offers_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE SET NULL;


--
-- Name: direct_offers direct_offers_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direct_offers
    ADD CONSTRAINT direct_offers_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: direct_offers direct_offers_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direct_offers
    ADD CONSTRAINT direct_offers_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: favorite_influencers favorite_influencers_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorite_influencers
    ADD CONSTRAINT favorite_influencers_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: favorite_influencers favorite_influencers_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorite_influencers
    ADD CONSTRAINT favorite_influencers_influencer_id_fkey FOREIGN KEY (influencer_id) REFERENCES public.influencers(id) ON DELETE CASCADE;


--
-- Name: influencers influencers_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.influencers
    ADD CONSTRAINT influencers_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: interactions interactions_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: interactions interactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: partnership_proposals partnership_proposals_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partnership_proposals
    ADD CONSTRAINT partnership_proposals_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: partnership_proposals partnership_proposals_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partnership_proposals
    ADD CONSTRAINT partnership_proposals_influencer_id_fkey FOREIGN KEY (influencer_id) REFERENCES public.influencers(id) ON DELETE SET NULL;


--
-- Name: partnership_proposals partnership_proposals_to_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partnership_proposals
    ADD CONSTRAINT partnership_proposals_to_company_id_fkey FOREIGN KEY (to_company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: payments payments_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: platform_revenue platform_revenue_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_revenue
    ADD CONSTRAINT platform_revenue_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: platform_revenue platform_revenue_interaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_revenue
    ADD CONSTRAINT platform_revenue_interaction_id_fkey FOREIGN KEY (interaction_id) REFERENCES public.interactions(id) ON DELETE SET NULL;


--
-- Name: platform_revenue platform_revenue_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_revenue
    ADD CONSTRAINT platform_revenue_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: position_bids position_bids_from_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.position_bids
    ADD CONSTRAINT position_bids_from_company_id_fkey FOREIGN KEY (from_company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: position_bids position_bids_to_brand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.position_bids
    ADD CONSTRAINT position_bids_to_brand_id_fkey FOREIGN KEY (to_brand_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: system_health_logs system_health_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_health_logs
    ADD CONSTRAINT system_health_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: withdrawal_requests withdrawal_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.withdrawal_requests
    ADD CONSTRAINT withdrawal_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: active_campaigns Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.active_campaigns USING (true) WITH CHECK (true);


--
-- Name: admin_settings Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.admin_settings USING (true) WITH CHECK (true);


--
-- Name: admins Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.admins USING (true) WITH CHECK (true);


--
-- Name: ai_matchmaking_history Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.ai_matchmaking_history USING (true) WITH CHECK (true);


--
-- Name: ai_recommendations_logs Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.ai_recommendations_logs USING (true) WITH CHECK (true);


--
-- Name: blocks Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.blocks USING (true) WITH CHECK (true);


--
-- Name: campaign_applications Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.campaign_applications USING (true) WITH CHECK (true);


--
-- Name: campaign_influencers Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.campaign_influencers USING (true) WITH CHECK (true);


--
-- Name: campaign_proposals Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.campaign_proposals USING (true) WITH CHECK (true);


--
-- Name: campaigns Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.campaigns USING (true) WITH CHECK (true);


--
-- Name: checkout_orders Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.checkout_orders USING (true) WITH CHECK (true);


--
-- Name: clicks Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.clicks USING (true) WITH CHECK (true);


--
-- Name: companies Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.companies USING (true) WITH CHECK (true);


--
-- Name: contact_events Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.contact_events USING (true) WITH CHECK (true);


--
-- Name: conversations Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.conversations USING (true) WITH CHECK (true);


--
-- Name: crm_interactions Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.crm_interactions USING (true) WITH CHECK (true);


--
-- Name: crm_leads Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.crm_leads USING (true) WITH CHECK (true);


--
-- Name: direct_offers Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.direct_offers USING (true) WITH CHECK (true);


--
-- Name: favorite_influencers Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.favorite_influencers USING (true) WITH CHECK (true);


--
-- Name: influencers Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.influencers USING (true) WITH CHECK (true);


--
-- Name: interactions Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.interactions USING (true) WITH CHECK (true);


--
-- Name: messages Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.messages USING (true) WITH CHECK (true);


--
-- Name: partnership_proposals Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.partnership_proposals USING (true) WITH CHECK (true);


--
-- Name: payments Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.payments USING (true) WITH CHECK (true);


--
-- Name: platform_finances Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.platform_finances USING (true) WITH CHECK (true);


--
-- Name: platform_revenue Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.platform_revenue USING (true) WITH CHECK (true);


--
-- Name: position_bids Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.position_bids USING (true) WITH CHECK (true);


--
-- Name: profiles Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.profiles USING (true) WITH CHECK (true);


--
-- Name: system_health_logs Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.system_health_logs USING (true) WITH CHECK (true);


--
-- Name: system_profit Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.system_profit USING (true) WITH CHECK (true);


--
-- Name: user_roles Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.user_roles USING (true) WITH CHECK (true);


--
-- Name: withdrawal_requests Allow all for local API; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all for local API" ON public.withdrawal_requests USING (true) WITH CHECK (true);


--
-- Name: active_campaigns; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.active_campaigns ENABLE ROW LEVEL SECURITY;

--
-- Name: admin_settings; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_settings ENABLE ROW LEVEL SECURITY;

--
-- Name: admins; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.admins ENABLE ROW LEVEL SECURITY;

--
-- Name: ai_matchmaking_history; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.ai_matchmaking_history ENABLE ROW LEVEL SECURITY;

--
-- Name: ai_recommendations_logs; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.ai_recommendations_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: blocks; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.blocks ENABLE ROW LEVEL SECURITY;

--
-- Name: campaign_applications; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.campaign_applications ENABLE ROW LEVEL SECURITY;

--
-- Name: campaign_influencers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.campaign_influencers ENABLE ROW LEVEL SECURITY;

--
-- Name: campaign_proposals; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.campaign_proposals ENABLE ROW LEVEL SECURITY;

--
-- Name: campaigns; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.campaigns ENABLE ROW LEVEL SECURITY;

--
-- Name: checkout_orders; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.checkout_orders ENABLE ROW LEVEL SECURITY;

--
-- Name: clicks; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.clicks ENABLE ROW LEVEL SECURITY;

--
-- Name: companies; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.companies ENABLE ROW LEVEL SECURITY;

--
-- Name: contact_events; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.contact_events ENABLE ROW LEVEL SECURITY;

--
-- Name: conversations; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.conversations ENABLE ROW LEVEL SECURITY;

--
-- Name: crm_interactions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.crm_interactions ENABLE ROW LEVEL SECURITY;

--
-- Name: crm_leads; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.crm_leads ENABLE ROW LEVEL SECURITY;

--
-- Name: direct_offers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.direct_offers ENABLE ROW LEVEL SECURITY;

--
-- Name: favorite_influencers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.favorite_influencers ENABLE ROW LEVEL SECURITY;

--
-- Name: influencers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.influencers ENABLE ROW LEVEL SECURITY;

--
-- Name: interactions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.interactions ENABLE ROW LEVEL SECURITY;

--
-- Name: messages; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.messages ENABLE ROW LEVEL SECURITY;

--
-- Name: partnership_proposals; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.partnership_proposals ENABLE ROW LEVEL SECURITY;

--
-- Name: payments; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.payments ENABLE ROW LEVEL SECURITY;

--
-- Name: platform_finances; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.platform_finances ENABLE ROW LEVEL SECURITY;

--
-- Name: platform_revenue; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.platform_revenue ENABLE ROW LEVEL SECURITY;

--
-- Name: position_bids; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.position_bids ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: system_health_logs; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.system_health_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: system_profit; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.system_profit ENABLE ROW LEVEL SECURITY;

--
-- Name: user_roles; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

--
-- Name: withdrawal_requests; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.withdrawal_requests ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict geMq93lMgYAzv5rCcgIn7taIO3b7gfEbBeWb6bvcAjBcPOv5NhC1lSTv7PLvgNp

